@page "/servermanagement"

@inject ChatbotService.ChatbotServiceClient ChatbotClient
@using Frontend.BlazorWebassembly.Data;
@using General.Interfaces.Data;

@code {
    string toastText = "";

    IServerSettings settings = null;

    IChatbotServiceStatus serviceStatus = null;

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        RefreshSettings();
        while (true)
        {
            RefreshStatus();
            await Task.Delay(1000);
        }
    }

    async void RefreshSettings()
    {
        var serverSettings = await ChatbotClient.GetServerSettingsAsync(new EmptyRequest());
        settings = new BackendSettings()
            {
                DbPath = serverSettings.DbPath,
                RootUrl = serverSettings.RootUrl,
                ExcludedUrls = serverSettings.IgnoredUrls,
                WaitedClassName = serverSettings.WaitedClassName,
                ModelApiURL = serverSettings.ModelApiUrl
            };
        StateHasChanged();
    }

    async void RefreshStatus()
    {

        var availability = await ChatbotClient.GetStatusAsync(new EmptyRequest());
        serviceStatus = new ServiceStatus()
            {
                ContextCount = availability.ContextCount,
                HtmlFileCount = availability.HtmlFileCount,
                ContextExtraction = availability.ContextExtraction,
                HtmlExtraction = availability.HtmlExtraction
            };
        StateHasChanged();
    }

    async void RunHtmlExtraction()
    {
        try
        {
            var res = ChatbotClient.StartHtmlExtractionAsync(new EmptyRequest());
            toastText = "Html Extraction started";
            toastText = (await res).Text;
        }
        catch(Exception ex )
        {
            toastText = ex.Message;
        }
    }

    async void RunContextExtraction()
    {
        try
        {
            var res = ChatbotClient.StartContextExtractionAsync(new EmptyRequest());

            toastText = "Context Extraction started";
            toastText = (await res).Text;
        }
        catch (Exception ex)
        {
            toastText = ex.Message;
        }
    }

    async Task SaveSettings()
    {
        if(settings == null)
        {
            return;
        }

        var curSettings = new CurrentSettings()
        {
            DbPath = settings.DbPath,
            RootUrl = settings.RootUrl,
            WaitedClassName = settings.WaitedClassName,
            ModelApiUrl = settings.ModelApiURL
        };
        curSettings.IgnoredUrls.AddRange(settings.ExcludedUrls);
        await ChatbotClient.SetServerSettingsAsync(curSettings);
    }

    // Add a new ignored URL to the list
    void AddIgnoredUrl()
    {
        settings.ExcludedUrls.Add("");
    }

    // Remove an ignored URL from the list
    void RemoveIgnoredUrl(int index)
    {
        settings.ExcludedUrls.RemoveAt(index);
    }
}
<h3>Server Management</h3>
<div class="container">
    <div class="row">
        <div class="p-2 col-md-6 ">
        <div class="alert alert-primary">
            <h4>Server Settings</h4>
            @if (settings == null)
            {
                <div class="spinner-border text-info" role="status" />
            }
            else
            {
                    <div class="row m-2">
                        <div class="col-sm-5">
                            <label for="dbPath">Database Path:</label>
                        </div>
                        <div class="col-sm-7">
                            <input id="dbPath" @bind="@settings.DbPath" class="form-control" />
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-sm-5">
                            <label for="dbPath">Flask api url:</label>
                        </div>
                        <div class="col-sm-7">
                            <input id="dbPath" @bind="@settings.ModelApiURL" class="form-control" />
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-sm-5">
                            <label for="rootUrl">Root URL:</label>
                        </div>
                        <div class="col-sm-7">
                            <input id="rootUrl" @bind="@settings.RootUrl" class="form-control" />
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-sm-5">
                            <label for="waitedClassName">Waited class name:</label>
                        </div>
                        <div class="col-sm-7">
                            <input id="waitedClassName" @bind="@settings.WaitedClassName" class="form-control" />
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-sm-5">
                            <label for="ignoredUrls">Ignored Urls:</label>
                        </div>
                        <div class="col-sm-7">
                            @foreach (var (ignored, index) in settings.ExcludedUrls.Select((value, index) => (value, index)))
                            {
                                <div class="input-group mb-2">
                                    <input id="ignoredUrls" @bind="@settings.ExcludedUrls[index]" class="form-control" />
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" @onclick="(() => RemoveIgnoredUrl(index))">Remove</button>
                                    </div>
                                </div>
                            }
                            <button class="btn btn-success" @onclick="AddIgnoredUrl">Add URL</button>
                        </div>
                    </div>
                <button class="btn btn-primary w-100" @onclick="SaveSettings">Save settings</button>
            }
            </div>
        </div>


        <!-- Service Status Column -->
        <div class="p-2 col-md-6 ">
        <div class="alert alert-secondary">
            <h4>Service Status</h4>
            @if(serviceStatus == null)
            {
                <div class="spinner-border text-secondary" role="status" />
            }else{
            <dl class="row">
                <dt class="">Context Count:</dt>
                <dd class="">@serviceStatus?.ContextCount</dd>

                <dt class="">HTML File Count:</dt>
                <dd class="">@serviceStatus?.HtmlFileCount</dd>

                <dt class="">HTML Extraction:</dt>
                <dd class="">@serviceStatus?.HtmlExtraction</dd>

                <dt class="">Context Extraction:</dt>
                <dd class="">@serviceStatus?.ContextExtraction</dd>
                <!-- Add more properties as needed -->
            </dl>}
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary btn-block w-100" @onclick="RunHtmlExtraction">Start HTML Extraction</button>
        </div>
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary btn-block w-100" @onclick="RunContextExtraction">Start Context Extraction</button>
        </div>
    </div>
    @if (toastText != "")
    {
        <div class="row">
            <div class="alert alert-info" role="alert">
            @toastText
            </div>
        </div>
    }
</div>
